.ui-sans-serif {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
.gray-darker {
  background-color: #f0f0f0;
}

.logo-size {
  object-fit: contain;
}
.ibm-plex {
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
}

.lite-brimary {
  background-color: #f3f8ff;
}
.font-light {
  font-weight: 300;
}
.font-light-gray {
  color: #d6dadf;
}

.text-12px {
  font-size: 12px;
}
.text-14px {
  font-size: 14px;
}
